<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <expandInitialFieldValue>
        <processor type="TechnoBabble.net.LoremGenerator.LoremProcessor, TechnoBabble.net.LoremGenerator"  patch:after="processor[@type= 'Sitecore.Pipelines.ExpandInitialFieldValue.ReplaceVariables, Sitecore.Kernel']"/>
      </expandInitialFieldValue>
    </pipelines>
  </sitecore>
</configuration>